<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Price Predictor</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="wrapper">
    <div class="title">
      Enter The Vehicle Details
    </div>
    <div class="form">
      <form method="post" accept-charset="utf-8" name="Modelform">
       
        <div class="inputfield">
          <label>Car Company :</label>
          <div class="custom_select">
            <select name="company" required="1"  onchange="load_car_models(this.id,'car_models')">
              {% for company in companies %}
              <option value="{{ company }}">{{ company }}</option>
              {% endfor %}
            </select>
          </div>
       </div> 
       <div class="inputfield">
        <label>Car Company :</label>
        <div class="custom_select">
          <select name="company" required="1"  onchange="load_car_models(this.id,'car_models')">
            {% for company in companies %}
            <option value="{{ company }}">{{ company }}</option>
            {% endfor %}
          </select>
        </div>
     </div> 
     <div class="inputfield">
      <label>Car Company :</label>
      <div class="custom_select">
        <select name="company" required="1"  onchange="load_car_models(this.id,'car_models')">
          {% for company in companies %}
          <option value="{{ company }}">{{ company }}</option>
          {% endfor %}
        </select>
      </div>
   </div> 
       <div class="inputfield">
       <button  class="btn btn-primary form-control" onclick="send_data()">Predict Price</button>
       </div>
       
      </form>
      <BR><BR>
        <h4><span id="prediction"></span></h4>
        
    </div>
</div>	
	
</body>
</html>